.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: rgba(93, 255, 185, 0.15);
}
.table-striped > thead > tr:nth-of-type(odd) {
    background-color: #F2F2F2;
}
.table-striped > tbody > tr:hover{
    background-color: #F3F2F0;
}
th{
    text-align: center;
}
.pagination>.active>a{
    background-color: #079783;
    border-color: #079783;
}
.pagination>.active>a:hover{
    background-color: #4EC88E;
    border-color: #4EC88E;
}
.operation>a{
    text-decoration: none;
    margin-left: 10px;
    cursor: pointer;
}
.query{
    color: #079783;
}
.alter{
    color: #26BB75;
}
.delete{
    color: #FF4501;
}
.go_up{
    color: #2C4351;
}
.my_title{
    height: 80px;
    line-height: 70px;
    background-color: #F2F2F2;
    border-left: 5px solid #079783;
    margin-bottom: 10px;
}
.my_table{
    background-color: #F2F2F2;
}
.my_tableDiv{
    margin: 0 0 0 10px;
}
.my_btn{
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    background-color: #26BB75;
    margin-left: 20px;
}
.my_btn:hover{
    background-color: #27cc7c;
    border-color: #27cc7c;
}
.my_btn2:hover{
    background-color: #07a792;
    border-color: #07a792;
}
.my_btn2{
    font-size: 16px;
    padding: 5px 10px 5px 10px;
    background-color: #079783;
}
.my_clname{
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
}
.my_input{
    box-shadow: 1px 1px 1px #888888;
    border-radius: 0;
}
.my_cd{
    margin-top: 15px;
}
.my_smana{
    font-size: 25px;
    border-bottom: 2px solid #079783;
    /*margin-top: 20px;*/
    margin-bottom: 20px;
}
/*fonts*/
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/iconfont.woff') format('woff'),
    url('../fonts/iconfont.ttf') format('truetype'),
    url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}